
<h1>
  About -- Developers
</h1>
<ul>
  <li>Leora Kelsey</li>
</ul>
<h2>
  APIs used:
</h2>
<ul>
  <li>https://catfact.ninja/fact from https://catfact.ninja/</li>
  <li>https://dog.ceo/api/breeds/image/random from https://dog.ceo/dog-api/</li>
  <li>https://www.boredapi.com/api/activity from https://www.boredapi.com/</li>
</ul>

