<h1>Welcome to the Book Club</h1>

<div>
    Do you want to suggest or recieve recommendations?
</div>
<div>
    <a class="btn btn-info" href="/Bookclub/Share" role="button">Suggest Books</a>
    <a class="btn btn-info" href="/Bookclub/Find" role="button">Find Books</a>
</div>
