<h1>
    Thank you for sharing a book Recommendation
</h1>
<div>
    You Shared: <%=title%> by <%=writer%> in Genre <%=genre%>
</div>
<div>
<a class="btn btn-info" href="/Bookclub/Share" role="button">Share Another Book</a>
<a class="btn btn-info" href="/Bookclub/Find" role="button">Find a Book</a>
</div>