<h1>
    Share a Book Recommendation
</h1>
<form method="post" action="/Bookclub/Share/Add" >
    Title: <input type="text" name = "title"><br>
    Author: <input type="text" name = "writer"><br>    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" for="genre">Genre:</label>
        <select class="form-select" id="genre" type="text" name ="genre">
          <option selected>Choose...</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Non-Fiction">Non-Fiction</option>
          <option value="Mystery">Mystery</option>
          <option value="Realistic-Fiction">Realistic-Fiction</option>
          <option value="Romance">Romance</option>
          <option value="Tbrillers">Thrillers</option>
          <option value="Memoir">Memoir</option>
          <option value="Manga">Manga</option>
          <option value="Horror">Horror</option>
          <option value="Comics">Comics</option>
          <option value="Dystopian">Dystopian</option>
        </select>
    <button type="submit" class="btn btn-info">Submit</button>  
</form>