<h1 bg-danger>Random Cat Fact:</h1>
<div>
    <%= catFact%>
</div>
<div class="image">
    <img src = "/images/cat.jpg">
</div>
<div>
    <a class="btn btn-info" href="/catfacts" role="button">Get Another Cat Fact</a>
</div>