<p>
    Bored? Want something to do? You can always <%= activity%>. Its a nice activity that only takes <%= participants%>. <%= activity%>.
    Live your life to the fullest!
    
</p>
<div>
    <img src = "/images/Thinking.jpg" width = "25%">
</div>
<div>
    <a class="btn btn-info" href="/Suggestions" role="button">Get A Different Suggestion</a>
</div>